<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beedev.core">

    <application>
        <provider
            android:name=".ShareModuleInitProvider"
            android:authorities="${applicationId}.datamoduleinitprovider"
            android:exported="false" />
    </application>

</manifest>